body {
    font-family: Karla;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #ff4545;
    border-bottom: 1px solid #ececec;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 41px;
    top: 0;
    width: 100%;
    z-index: 10;
}

header span:last-child {
    padding-right: 30px;
}

header a {
    color: #ff4545;
    padding: 5px 10px;
    text-decoration: none;
}

nav {
    background-color: white;
    color: #ff4545;
    border-bottom: 1px solid #ececec;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 41px;
    width: 100%;
    z-index: 8;
}

nav a {
    color: #ff4545;
    padding-right: 30px;
    text-decoration: none;
}

footer {
    background: white;
    color: #ff4545;
    border-top: 1px solid #ececec;
    height: 41px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    width: 100%;
    z-index: 9;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

footer a {
    color: #ff4545;
    padding: 5px 10px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 50px;
}

.banner-image {
    max-width: 100%;
}

/* .small-image {
    width: 33.33%;
    padding-right: 20px;
}

.text-box {
    width: 66.66%;
    padding-left: 20px;
}

.text-box h2 {
    margin-top: 0;
} */