body {
    font-family: Karla;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #ff4545;
    border-bottom: 1px solid #ececec;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 41px;
    top: 0;
    width: 100%;
    z-index: 10;
}

header span:last-child {
    padding-right: 30px;
}

header a {
    color: #ff4545;
    padding: 5px 10px;
    text-decoration: none;
}

nav {
    background-color: white;
    color: #ff4545;
    border-bottom: 1px solid #ececec;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 41px;
    width: 100%;
    z-index: 8;
}

nav a {
    color: #ff4545;
    padding-right: 30px;
    text-decoration: none;
}

a:hover {
    color: blue; /* Change color to blue on hover */
    /* text-shadow: 0 0 1px blue, 0 0 1px blue, 0 0 1px blue, 0 0 1px blue; */
}

#current_page {
    color: rgb(221, 221, 42);
}

#current_page:hover {
    color: blue;
}

span:hover {
    cursor: pointer;
    color: blue; /* Change color to blue on hover */
}

footer {
    background: white;
    color: #ff4545;
    border-top: 1px solid #ececec;
    height: 41px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    width: 100%;
    z-index: 9;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

footer a {
    color: #ff4545;
    padding: 5px 10px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.banner-image {
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.wall_left {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 60%;
    height: 530px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #ececec;
}

.wall_right {
    position: relative;
    box-sizing: border-box;
    float: right;
    width: 60%;
    height: 530px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #ececec;
}

.wall_left img,.wall_right img {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: auto;
    min-height: 250px;
    display: block;
}

.text_right {
    position: relative;
    box-sizing: border-box;
    float: right;
    width: 40%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 0 200px 0;
    text-align: left;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: white;
}

.text_left {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 40%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 0 200px 0;
    text-align: left;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: white;
}

.text_right h1 {
    color: blue;
    font-size: 24px;
    margin: 0;
    padding: 20px 20px 14px 20px;
}

.text_left h1 {
    color: blue;
    font-size: 24px;
    margin: 0;
    padding: 20px 20px 14px 170px;
}

.text_right p {
    color: green;
    font-size: 18px;
    margin: 0;
    padding: 10px 10px 7px 20px;
}

.text_left p {
    color: green;
    font-size: 18px;
    margin: 0;
    padding: 10px 10px 7px 170px;
}