.row_right {
    padding: 15px 0px 15px 50px;
    border-bottom: 1px solid #ececec;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row_left {
    padding: 15px 50px 15px 0px;
    border-bottom: 1px solid #ececec;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row_right img,.row_left img {
    position: relative;
    object-fit: cover;
    padding: 0px 10px;
    width: 280px;
    height: 280px;
}