.wall_left {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 60%;
    height: 530px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #ececec;
}

.wall_right {
    position: relative;
    box-sizing: border-box;
    float: right;
    width: 60%;
    height: 530px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #ececec;
}

.wall_left img,.wall_right img {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: auto;
    min-height: 250px;
    display: block;
}

.text_right {
    position: relative;
    box-sizing: border-box;
    float: right;
    width: 40%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 0 200px 0;
    text-align: left;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: white;
}

.text_left {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 40%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 0 200px 0;
    text-align: left;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: white;
}

.text_right h1 {
    color: blue;
    font-size: 24px;
    margin: 0;
    padding: 20px 20px 14px 20px;
}

.text_left h1 {
    color: blue;
    font-size: 24px;
    margin: 0;
    padding: 20px 20px 14px 170px;
}

.text_right p {
    color: rgb(217, 107, 87);
    font-size: 18px;
    margin: 0;
    padding: 10px 10px 7px 20px;
}

.text_left p {
    color: rgb(217, 107, 87);
    font-size: 18px;
    margin: 0;
    padding: 10px 10px 7px 170px;
}